<h1>One Way Binding</h1>




<table>
  <tr>
    <td>
      <h2>Ficha Personaje</h2>
    </td>
    <td>
      <h2 class="left">Personaje Guardado</h2>
    </td>
  </tr>
  <tr>
    <td>

      <form>
        <p>Nombre:<input type="string" value="{{ valor1 }}" readonly></p>
        <p>Destreza:<input type="number" value="{{ valor2 }}" readonly></p>
        <p>Fuerza:<input type="number" value="{{ valor3 }}" readonly></p>
        <p>Inteligencia:<input type="number" value="{{ valor4 }}" readonly></p>
        <p>Constitución:<input type="number" value="{{ valor5 }}" readonly></p>

      </form>
    </td>
    <td>

      <form class="left">
        <p>Nombre:<input type="string" value="{{ guardado1 }}" readonly></p>
        <p>Destreza:<input type="number" value="{{ guardado2 }}" readonly></p>
        <p>Fuerza:<input type="number" value="{{ guardado3 }}" readonly></p>
        <p>Inteligencia:<input type="number" value="{{ guardado4 }}" readonly></p>
        <p>Constitución:<input type="number" value="{{ guardado5 }}" readonly></p>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      <input class="button" type="button" value="Generar" (click)="GenerarAleatorio($event)" />
      <input class="button button-left" type="button" value="Guardar" (click)="GuardarDatos($event)" />
    </td>
  </tr>


</table>






<br>
<ul>
  <li>
    <input type="button" disabled="{{ _disabled }}" value="Boton 1" />
    <p>
      En este ejemplo se coge el valor de la variable "_disabled" y se usa para
      el atributo "disabled". Si el valor de la variable cambiase, no se
      actualizaría el atributo
    </p>
  </li>
  <li>
    <input type="button" [disabled]="_disabled" value="Boton 2" />
    <p>
      En este ejemplo se vincula el valor de la variable "_disabled" al atributo
      "disabled". Si el valor de la variable cambia, se actualiza el atributo
    </p>
  </li>
  <li>
    <p>
      También se puede mostrar el contenido de una variable como si fuera texto:
    </p>
    <p>Contenido de la variable "_text": {{ _text }}</p>
  </li>
</ul>

<h1>Events</h1>
<ul>
  <li>
    <input type="button" [value]="'Valor actual disabled: ' + _disabled" (click)="_disabled = !_disabled" />
    <p>
      Cuando se apreta el botón se ejecuta el código. En este caso se cambia el
      valor de la variable "_disabled"
    </p>
  </li>
  <li>
    <input type="button" value="Mostrar por consola" (click)="botonClickado($event)" />
  </li>
</ul>

<h1>Two Way Binding</h1>
<input type="text" [(ngModel)]="_inputText" />
<p>El texto se guarda en la variable: {{ _inputText }}</p>
<input type="button" value="Limpiar Input" (click)="_inputText = ''" />